.resume-upper-container{
    margin-bottom: 0%;
    padding-bottom: 0%;
    height: 7rem;
    /* border: 1px transparent #0026E3;     */

}

.header-text{
    margin-top: 0rem;
    font-size: 3.0rem;
}

.download-container{
    /* border: 1px solid red; */
    margin-bottom: 0%;
}